.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 90px;
}

.place-order-right {
    max-width: 500px;   
    width: 100%;
    padding-right: 40px; 
    padding-bottom: 40px;
    margin-top: -30px;
}  

.place-order-left{
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
    border: 1px solid #f67828;
    border-radius: 5px;
    outline-color: tomato;
}

.place-order .checkout-btn {
    margin-top: -50px; 
    margin-bottom: 70px;
}

.payment-method {
    margin-top: 70px;
}

.payment-title {
    font-size: 24px;
    font-weight: 600;
}

.payment-options {
    display: flex;
    gap: 45px;
    align-items: center;
}

.payment-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.payment-option input[type="radio"] {
    accent-color: #f67828;
    width: 20px;
    height: 20px;
}

.payment-option img {
    width: 110px;
    height: auto;
}

.payment-option p{
    font-size: 20px;
    font-weight: 600;
    height: auto;
}

  