.footer{
    color: white;
    background-color: #f67828;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 60px;
}

.footer .logo{
    width: 220px;
}

.content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.left, .center, .right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.left p{
    width: 90%;
}

.left li, .center li, .right li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.center h2, .right h2{
    color: white;
}

.right .social-links{
    padding: 0;
}

.right .social-links li{
    display: flex;
    align-items: center;
    gap: 20px;
}

.right .social-links img{
    gap: 20px;
    width: 30px;
}

.footer hr {
    width: 100%;
    height: 1px;
    background-color: white;
    border: none;
    opacity: 0.5;
}
