.recommendation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.recommendation h1{
    margin-top: 30px;
    text-align: center;
    color: #443627;
    margin-bottom: 15px;
}

.display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    row-gap: 24x;
    margin-bottom: 30px;
  }